/node_modules
/vendor
/.git
/.env
/bootstrap/cache/*
/storage/logs/*
/storage/framework/cache/data/*
/storage/framework/views/*
/storage/framework/sessions/*
/database/*.sqlite
/database/*.sqlite-journal
